{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb and disable == FALSE %}
  {{ attach_library('sis/breadcrumb') }}

  <div class="container">
    <div{{ attributes.addClass('breadcrumb') }}>
      <ol{{ items_attributes.addClass('breadcrumb__items') }}>
        {% for item in breadcrumb %}
          <li class="breadcrumb__item">
            {% if item.url %}
              <a class="breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              <span class="breadcrumb__link breadcrumb__link--active">{{ item.text }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
    {{ breadcrumb_json_data }}
  </div>
{% endif %}
