{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{{ attach_library('sis/navigation') }}
{{ attach_library('sis/sub-navigation') }}

<nav class="navigation js-navigation">
  <ul class="navigation-list">
    {%- for item in items -%}
      <li{{ create_attribute().addClass(['navigation-item', 'js-navigation-item'])
        .addClass(item.in_active_trail ? 'active')
        .addClass(item.below ? 'navigation-item--has-children') }}>
        {{ link(item.title, item.url, {'class': 'navigation-item__link'}) }}
        {% if item.below %}
          <div class="sub-navigation ">
            <div class="container">
              <ul class="sub-navigation__list">
                {%- for item_below in item.below -%}
                  <li class="sub-navigation__item">
                    <a href="{{ item_below.url }}" class="sub-navigation__link">
                      <span class="sub-navigation__link-title">{{ item_below.content.field_menu_icon }}{{ item_below.title }}</span>
                      <span class="sub-navigation__link-description">{{ item_below.content.field_menu_description }}</span>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        {% endif %}
      </li>
    {%- endfor -%}
  </ul>
</nav>
