<div class="lexicon__filters">
{%- if items -%}
  <{{ list_type }}{{ attributes }}>
  {%- for item in items -%}
    {% if item.value == 'break' %}
        <li class="lexicon__filters_item--break"></li>
      {% else %}
        <li{{ item.attributes }}>{{ item.value }}</li>
    {% endif %}
  {%- endfor -%}
</{{ list_type }}>
{%- else -%}
  {{- empty -}}
{%- endif -%}
</div>
