{{ attach_library('sis/hero') }}

{% if position == 'hero--center' %}
  {% set hero_position = 'col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2' %}
{% elseif position == 'hero--right' %}
  {% set hero_position = 'col-xs-10 col-md-8 col-xs-offset-2 col-md-offset-4' %}
{% elseif position == 'hero--left' %}
  {% set hero_position = 'col-xs-10 col-md-8' %}
{% endif %}

<div{{ attributes.addClass(['hero', 'js-hero']).addClass(media_image ? 'hero--image-added' : 'hero--narrow-height').addClass(dynamic_height ? 'hero--dynamic-height' : '') }}>
  {% if media_image %}
    <div class="hero__image-wrapper">
      {{ media_image }}
    </div>
  {% endif %}
  <div class="hero__iframe-wrapper js-hero-iframe-wrapper">
    {% if media %}
      {{ media }}
    {% endif %}
  </div>
  <div class="container">
    <div class="row">
      <div class="{{ hero_position }}">
        <div class="hero__content">
          {% if title %}
            <h1>{{ title }}</h1>
          {% endif %}
          {% if text %}
            <div class="hero__content-text">
              {{ text }}
            </div>
          {% endif %}
          {% block cta %}
            {{ cta }}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <svg class="section__graphics-bottom" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 30" xml:space="preserve">
    <path d="M1440,30V1.3l-240.4,12.3L950.4,0L939,9l-22.9-2.9L801.7,16.5l-625.5-2.9L164.8,3l-87.7,7.5L0,1.3V30H1440z"/>
  </svg>
</div>
