{{ attach_library('sis/lexicon') }}
<div{{ attributes.addClass('lexicon-teaser') }}>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-5">
      <h2 class="lexicon-teaser__title">{{ atom('lexicon-block-headline') }}</h2>
      <div class="lexicon-teaser__description">
        {{ atom('lexicon-block-description') }}
      </div>
      <h4 class="lexicon-teaser__filters-title">{{ atom('lexicon-block-filter-headline') }}</h4>
      {{ filters }}
    </div>
    <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-6 lexicon-teaser__articles">
      {{ articles }}
    </div>
  </div>
</div>
